python-dotenv
pytest
requests
beautifulsoup4
bleach
# Model fine-tuning dependencies
torch
transformers
datasets
tokenizers
pyyaml
tqdm
# Hyperparameter tuning dependency
optuna

# Quantization & ONNX dependencies
bitsandbytes
onnxruntime
optimum
# ONNX export dependency
optimum[exporters]

# Evaluation metrics dependencies
evaluate
# Evaluation metrics dependencies
evaluate
rouge-score

# Inference API dependencies
fastapi
uvicorn
pydantic
httpx
